xformers==0.0.31.post1
torch==2.7.1
diffusers==0.33.1
wandb==0.19.11
ipykernel
transformers==4.53.2
nbformat==5.10.4
accelerate==1.7.0
datasets==4.1.1
unsloth==2025.9.9
bitsandbytes==0.46.0
peft==0.15.2
# trl==0.19.0
triton==3.3.1
# cut_cross_entropy
unsloth-zoo==2025.9.12
evaluate==0.4.4
# flash-attn==2.8.0.post2
scikit-learn==1.7.0
torchao==0.13.0
liger-kernel==0.6.0
torchtune==0.6.1
matplotlib==3.10.3
plotly==6.2.0
ipywidgets
more-itertools==10.8.0
mosaicml-streaming==0.13.0
lm-eval==0.4.9.1