xformers==0.0.31.post1
torch==2.7.1
diffusers==0.33.1
wandb==0.19.11
ipykernel
transformers==4.53.2
nbformat==5.10.4
accelerate==1.7.0
datasets==3.6.0
unsloth==2025.7.3
bitsandbytes==0.46.0
peft==0.15.2
trl==0.19.0
triton==3.3.1
cut_cross_entropy
unsloth-zoo==2025.7.4
evaluate==0.4.4
# flash-attn==2.8.0.post2
scikit-learn==1.7.0
torchao==0.12.0
liger-kernel==0.6.0
torchtune==0.6.1
matplotlib==3.10.3